<div class="form-check text-light vt-sm">
    <input class="form-check-input" type="radio" name="item" id="flexRadioDefault1" value='{"name":"{{this.name}}","damageLow":{{this.damageLow}},"damageHigh":{{this.damageHigh}},"cost":{{this.cost}} }'>
    <label class="form-check-label" for="flexRadioDefault1">
                 {{this.name}}, <span class="text-danger">{{this.damageLow}}-{{this.damageHigh}}</span> damage. 
    </label>
    <label>
      <span class="text-warning">{{this.cost}}</span> gold.
    </label>
</div>