<option value='{"name":"{{this.name}}","damageLow":{{this.damageLow}},"damageHigh":{{this.damageHigh}},"value":{{this.value}} }' class="vt-sm text-white bg-dark">
    {{this.name}}, <span class="text-danger">{{this.damageLow}}-{{this.damageHigh}}</span> damage. Value: <span class="text-warning">{{this.value}}</span> gold.
</option>