<div class="container mt-5 vt" style="border:double;color:white;border-width:15px;">

    <div class="row text-center">
        <h1 class="vt-lg text-danger" style="text-transform: capitalize;">{{options.heading}}</h1>
    </div>

    <div class="row">

        <div class="col-lg-6 d-flex justify-content-center">
              
                <div class="row">
                      <img src="{{model.sprite}}"></img>
                    <div class="d-flex justify-content-center"><a href="/confirm/delete/{{type}}/{{model._id}}"
                            class="a">Delete</a></div>
                </div>

        </div>

        <div class="col-lg-6 mt-5">
            <div class="row">
                <div class="d-flex justify-content-evenly">
                    <div>HP: <span>{{model.hp}}</span></div>
                    <div>Armor: <span>{{model.armor}}</span></div>
                </div>
                <div class="d-flex justify-content-evenly">
                    <div>Crit %: <span>{{model.critChance}}</span></div>
                    <div>Block %: <span>{{model.blockChance}}</span></div>
                </div>
                <div class="d-flex justify-content-evenly">
                    <div>XP: <span class="text-info">{{model.xp}}</span></div>
                    <div>Gold: <span class="text-warning">{{model.gold}}</span></div>
                </div>

                <div class="d-flex justify-content-center mt-2">
                    <div class="" style="border:double;border-width:10px;padding:12px">

                        <div class="d-flex justify-content-center">
                            <div><span>{{model.damageLow}}-{{model.damageHigh}}</span> damage</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <div class="" style="border:double;border-width:10px;padding:12px">Inventory:
                        <div class="d-flex justify-content-center">
                            <div><span>{{model.inventory}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            {{#each menuOptions}}
            {{> menuLink}}
            {{/each}}
        </div>

    </div>
    <style>
        span {
            color: #5cb85c;
        }
    </style>